<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Commandé avec succès</h2>
        <p>Vous pouvez vérifier toutes vos commandes dans votre profil.</p>
        <hr />
        <p>Merci!</p>

        <a class="btn btn-outline-success" asp-controller="Concerts" asp-action="Index">
            Retour
        </a>
    </div>
</div>